<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GLOSSA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GLOSSA.Properties.Settings>
            <setting name="TopMost_US" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RichCodeFont" serializeAs="String">
                <value>Consolas, 12pt</value>
            </setting>
            <setting name="RichCodeWordWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RichCodeCurrentLineColor" serializeAs="String">
                <value>192, 255, 192</value>
            </setting>
            <setting name="RichCodeBGColor" serializeAs="String">
                <value />
            </setting>
            <setting name="WorkingPath" serializeAs="String">
                <value>file:///C:/Users</value>
            </setting>
            <setting name="WinLocation" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="TreeFont" serializeAs="String">
                <value>Consolas, 9pt</value>
            </setting>
            <setting name="RichCodeVCP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RichCodeADrop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RichCodeSeleColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="RichCodeNumColor" serializeAs="String">
                <value>DarkGoldenrod</value>
            </setting>
            <setting name="RichCodePreakColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="RichCodeCurrentLColor" serializeAs="String">
                <value>192, 255, 192</value>
            </setting>
            <setting name="Register" serializeAs="String">
                <value />
            </setting>
        </GLOSSA.Properties.Settings>
    </userSettings>
  <appSettings>
    <add key="language" value="el-GR"/>
  </appSettings>
</configuration>